html,
body {
  height: 95%;
  width: 95%;
  padding: 0.5em;
  background-image: url(./images/body-bkg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start Screen Styling */

/* Fonts */

h1 {
  color: white;
  font-size: 3.5em;
  font-family: "Press Start 2P", system-ui;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
  margin: 3em 0.3em 0.3em 1em;
}

h2 {
  color: white;
  font-family: "Press Start 2P", system-ui;
  font-size: 2.5em;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

button {
  width: 20%;
  height: 7%;
  border-radius: 5px;
  margin: 4em;
  font-family: "Press Start 2P", system-ui;
  color: rgb(80, 5, 150);
  filter: drop-shadow(0px 0px 3px rgb(99, 0, 106));
}

#start-screen-div {
  width: 1100px;
  height: 619px;
  background-image: url("./images/start-screen-bkg.jpeg");
  background-size: cover;
}

#start-screen-sec {
  width: 1100px;
  height: 619px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 1, 34, 0.191);
  filter: drop-shadow(5px 5px 20px rgb(194, 0, 248));
}
